* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 1300px;
    background: #fff;
}

#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #242834;
    overflow: hidden;
}

#root>div {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: middle;
    margin-top: -0.15em;
}

.hidden {
    display: none;
    visibility: hidden;
}

.zn-bg-exam {
    width: 100%;
    height: auto;
    background-color: #ebf1f1;
}

.zn-pd-percent2 {
    padding: 2%;
}

/* 主框架进度条颜色 */

.ant-progress-bg {
    background-color: #1da1a6;
}

/* spin颜色 */

.ant-spin-dot i {
    background-color: #1da1a6;
}