.mj-mc-manconfirm{
  background: #fff;
}
.mj-mc-manconfirm .ant-tabs{
  width: 100%;
  text-align: left;
}
.mj-mc-manconfirm .ant-tabs-nav{
  height: 60px;
}
.mj-mc-manconfirm .ant-tabs-bar{
  border-bottom: 1px solid #c7d5d5;
}
.mj-mc-manconfirm .ant-tabs-nav-container{
  font-size: 12px;
  color: #5c5c5c;
}
.mj-mc-manconfirm .ant-tabs-nav .ant-tabs-tab{
  width: 110px;
  text-align: center;
  line-height: 4.5;
}
.mj-mc-manconfirm .ant-tabs-ink-bar{
  height: 4px;
  background-color: #1aa3ab;
}
.mj-mc-manconfirm .ant-tabs-nav .ant-tabs-tab-active{
  font-weight: bold;
  color: #1aa3ab;
}
.mj-mc-manconfirm .ant-tabs-nav .ant-tabs-tab:active,
.mj-mc-manconfirm .ant-tabs-nav .ant-tabs-nav .ant-tabs-tab:hover{
  color: #5c5c5c;
}