body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:893px;
}
#u4934 {
  position:absolute;
  left:11px;
  top:19px;
  width:1370px;
  height:893px;
}
#u4935 {
  position:absolute;
  left:2px;
  top:438px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4936 {
  position:absolute;
  left:109px;
  top:161px;
  width:28px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4937 {
  position:absolute;
  left:922px;
  top:157px;
  width:113px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4938 {
  position:absolute;
  left:278px;
  top:235px;
  width:281px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4939 {
  position:absolute;
  left:306px;
  top:468px;
  width:253px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4940 {
  position:absolute;
  left:306px;
  top:652px;
  width:253px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4941 {
  position:absolute;
  left:304px;
  top:782px;
  width:84px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4942 {
  position:absolute;
  left:304px;
  top:600px;
  width:84px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4943 {
  position:absolute;
  left:306px;
  top:288px;
  width:253px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4944 {
  position:absolute;
  left:513px;
  top:24px;
  width:105px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4945 {
  position:absolute;
  left:594px;
  top:94px;
  width:77px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4946 {
  position:absolute;
  left:722px;
  top:94px;
  width:68px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4947 {
  position:absolute;
  left:847px;
  top:94px;
  width:75px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4948 {
  position:absolute;
  left:475px;
  top:94px;
  width:69px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4949 {
  position:absolute;
  left:1210px;
  top:769px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4950 {
  position:absolute;
  left:1250px;
  top:767px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4951 {
  position:absolute;
  left:1210px;
  top:586px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4952 {
  position:absolute;
  left:1250px;
  top:584px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4953 {
  position:absolute;
  left:1250px;
  top:406px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4954 {
  position:absolute;
  left:626px;
  top:29px;
  width:93px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u4955 {
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  word-wrap:break-word;
}
#u4956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u4956 {
  position:absolute;
  left:1170px;
  top:156px;
  width:118px;
  height:41px;
  color:#00CC00;
}
#u4957 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4958 {
  position:absolute;
  left:716px;
  top:87px;
  width:88px;
  height:35px;
}
#u4959 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960 {
  position:absolute;
  left:422px;
  top:32px;
  width:70px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4961 {
  position:absolute;
  left:1298px;
  top:21px;
  width:71px;
  height:24px;
}
#u4962 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u4963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4963 {
  position:absolute;
  left:1299px;
  top:49px;
  width:71px;
  height:24px;
}
#u4964 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u4965 {
  position:absolute;
  left:315px;
  top:28px;
  width:70px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4968 {
  position:absolute;
  left:442px;
  top:83px;
  width:515px;
  height:45px;
}
#u4969 {
  position:absolute;
  left:2px;
  top:14px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u4970 {
  position:absolute;
  left:469px;
  top:94px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u4972 {
  position:absolute;
  left:593px;
  top:94px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:81px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4975 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:81px;
  color:#1E1E1E;
}
#u4976 {
  position:absolute;
  left:2px;
  top:32px;
  width:1376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
}
#u4977 {
  position:absolute;
  left:13px;
  top:15px;
  width:253px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4978 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u4979 {
  position:absolute;
  left:277px;
  top:29px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4980 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:49px;
}
#u4981 {
  position:absolute;
  left:1116px;
  top:3px;
  width:67px;
  height:49px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:24px;
}
#u4983 {
  position:absolute;
  left:1176px;
  top:17px;
  width:113px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4985 {
  position:absolute;
  left:1175px;
  top:44px;
  width:114px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4986 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4987 {
  position:absolute;
  left:1039px;
  top:157px;
  width:121px;
  height:37px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4989 {
  position:absolute;
  left:304px;
  top:320px;
  width:981px;
  height:76px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:30px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4991 {
  position:absolute;
  left:304px;
  top:500px;
  width:981px;
  height:76px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:30px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4993 {
  position:absolute;
  left:304px;
  top:681px;
  width:981px;
  height:76px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:30px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4996 {
  position:absolute;
  left:1203px;
  top:376px;
  width:81px;
  height:27px;
}
#u4997 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4998 {
  position:absolute;
  left:1203px;
  top:376px;
  width:81px;
  height:27px;
}
#u4999 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u5000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:61px;
}
#u5001 {
  position:absolute;
  left:309px;
  top:312px;
  width:961px;
  height:61px;
}
#u5002 {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  word-wrap:break-word;
}
#u5003 {
  position:absolute;
  left:306px;
  top:312px;
  width:979px;
  height:60px;
}
#u5003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5005 {
  position:absolute;
  left:1203px;
  top:563px;
  width:81px;
  height:27px;
}
#u5006 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5007 {
  position:absolute;
  left:1203px;
  top:563px;
  width:81px;
  height:27px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u5009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:61px;
}
#u5010 {
  position:absolute;
  left:309px;
  top:499px;
  width:961px;
  height:61px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  word-wrap:break-word;
}
#u5012 {
  position:absolute;
  left:306px;
  top:499px;
  width:979px;
  height:60px;
}
#u5012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5014 {
  position:absolute;
  left:1203px;
  top:738px;
  width:81px;
  height:27px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5016 {
  position:absolute;
  left:1203px;
  top:738px;
  width:81px;
  height:27px;
}
#u5017 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u5018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:61px;
}
#u5019 {
  position:absolute;
  left:309px;
  top:674px;
  width:961px;
  height:61px;
}
#u5020 {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  word-wrap:break-word;
}
#u5021 {
  position:absolute;
  left:306px;
  top:674px;
  width:979px;
  height:60px;
}
#u5021_input {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5023 {
  position:absolute;
  left:304px;
  top:406px;
  width:876px;
  height:35px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u5025 {
  position:absolute;
  left:304px;
  top:418px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5026 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u5027 {
  position:absolute;
  left:495px;
  top:418px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5028 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5030 {
  position:absolute;
  left:304px;
  top:586px;
  width:876px;
  height:35px;
}
#u5031 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u5032 {
  position:absolute;
  left:304px;
  top:598px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u5034 {
  position:absolute;
  left:495px;
  top:598px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5035 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u5037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5037 {
  position:absolute;
  left:304px;
  top:767px;
  width:876px;
  height:35px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u5039 {
  position:absolute;
  left:304px;
  top:779px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u5041 {
  position:absolute;
  left:495px;
  top:779px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u5042 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u5043 {
  position:absolute;
  left:271px;
  top:268px;
  visibility:hidden;
}
#u5043_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5043_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u5045 {
  position:absolute;
  left:2px;
  top:232px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:136px;
}
#u5046 {
  position:absolute;
  left:197px;
  top:152px;
  width:514px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5047 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  word-wrap:break-word;
}
#u5048 {
  position:absolute;
  left:703px;
  top:27px;
  width:52px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5049 {
  position:absolute;
  left:78px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5050 {
  position:absolute;
  left:449px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5043_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5043_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u5051 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u5052 {
  position:absolute;
  left:2px;
  top:232px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:53px;
}
#u5053 {
  position:absolute;
  left:16px;
  top:183px;
  width:737px;
  height:53px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u5054 {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  word-wrap:break-word;
}
#u5055 {
  position:absolute;
  left:703px;
  top:27px;
  width:52px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5056 {
  position:absolute;
  left:78px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5057 {
  position:absolute;
  left:449px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5043_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5043_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u5059 {
  position:absolute;
  left:2px;
  top:232px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:53px;
}
#u5060 {
  position:absolute;
  left:16px;
  top:183px;
  width:737px;
  height:53px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u5061 {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  word-wrap:break-word;
}
#u5062 {
  position:absolute;
  left:703px;
  top:27px;
  width:52px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5063 {
  position:absolute;
  left:78px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5064 {
  position:absolute;
  left:449px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u5065 {
  position:absolute;
  left:1200px;
  top:408px;
  width:41px;
  height:37px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067 {
  position:absolute;
  left:1203px;
  top:402px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5068 {
  position:absolute;
  left:91px;
  top:142px;
  width:1000px;
  height:660px;
  overflow:hidden;
  visibility:hidden;
}
#u5068_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5068_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u5069 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u5070 {
  position:absolute;
  left:2px;
  top:322px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5071 {
  position:absolute;
  left:960px;
  top:12px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5072 {
  position:absolute;
  left:806px;
  top:11px;
  width:100px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5073 {
  position:absolute;
  left:422px;
  top:214px;
  width:96px;
  height:30px;
}
#u5073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u5073_input:disabled {
  color:grayText;
}
#u5074 {
  position:absolute;
  left:422px;
  top:263px;
  width:96px;
  height:30px;
}
#u5074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u5074_input:disabled {
  color:grayText;
}
#u5075 {
  position:absolute;
  left:274px;
  top:184px;
  visibility:hidden;
}
#u5075_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5075_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u5077 {
  position:absolute;
  left:2px;
  top:115px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:61px;
}
#u5078 {
  position:absolute;
  left:157px;
  top:164px;
  width:111px;
  height:61px;
}
#u5079 {
  position:absolute;
  left:2px;
  top:22px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
}
#u5080 {
  position:absolute;
  left:362px;
  top:13px;
  width:54px;
  height:33px;
}
#u5081 {
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5068_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5068_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5082 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  overflow:hidden;
}
#u5082_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5082_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u5083 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:322px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085 {
  position:absolute;
  left:969px;
  top:268px;
  width:21px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5086 {
  position:absolute;
  left:806px;
  top:11px;
  width:100px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5087 {
  position:absolute;
  left:265px;
  top:179px;
  visibility:hidden;
}
#u5087_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5087_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u5088 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u5089 {
  position:absolute;
  left:2px;
  top:115px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5090 {
  position:absolute;
  left:164px;
  top:167px;
  width:94px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5091 {
  position:absolute;
  left:379px;
  top:14px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5092 {
  position:absolute;
  left:960px;
  top:12px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5082_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5082_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u5093 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:322px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095 {
  position:absolute;
  left:969px;
  top:64px;
  width:21px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5096 {
  position:absolute;
  left:806px;
  top:11px;
  width:100px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5097 {
  position:absolute;
  left:265px;
  top:179px;
  visibility:hidden;
}
#u5097_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5097_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u5098 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u5099 {
  position:absolute;
  left:2px;
  top:115px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5100 {
  position:absolute;
  left:164px;
  top:167px;
  width:94px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5101 {
  position:absolute;
  left:379px;
  top:14px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5102 {
  position:absolute;
  left:960px;
  top:12px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5068_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5068_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:364px;
}
#u5103 {
  position:absolute;
  left:182px;
  top:151px;
  width:634px;
  height:364px;
}
#u5104 {
  position:absolute;
  left:2px;
  top:174px;
  width:630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5105 {
  position:absolute;
  left:436px;
  top:409px;
  width:126px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5106 {
  position:absolute;
  left:763px;
  top:173px;
  width:36px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5068_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5068_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:300px;
}
#u5107 {
  position:absolute;
  left:242px;
  top:175px;
  width:480px;
  height:300px;
}
#u5108 {
  position:absolute;
  left:2px;
  top:142px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5109 {
  position:absolute;
  left:371px;
  top:383px;
  width:102px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5110 {
  position:absolute;
  left:682px;
  top:184px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5111 {
  position:absolute;
  left:494px;
  top:383px;
  width:102px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5112 {
  position:absolute;
  left:1147px;
  top:155px;
}
#u5112_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5112_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5113 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5112_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5112_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5115 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5118 {
  position:absolute;
  left:91px;
  top:832px;
  width:1198px;
  height:100px;
}
#u5119 {
  position:absolute;
  left:2px;
  top:42px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5120 {
  position:absolute;
  left:104px;
  top:838px;
  width:92px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5121 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5122 {
  position:absolute;
  left:431px;
  top:864px;
  width:101px;
  height:16px;
  color:#FF0000;
}
#u5123 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5124 {
  position:absolute;
  left:144px;
  top:864px;
  width:138px;
  height:16px;
}
#u5125 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u5126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5126 {
  position:absolute;
  left:589px;
  top:864px;
  width:463px;
  height:16px;
}
#u5127 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  word-wrap:break-word;
}
#u5128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5128 {
  position:absolute;
  left:1037px;
  top:864px;
  width:181px;
  height:16px;
}
#u5129 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u5131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5131 {
  position:absolute;
  left:461px;
  top:963px;
  width:53px;
  height:16px;
}
#u5132 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:24px;
}
#u5133 {
  position:absolute;
  left:664px;
  top:959px;
  width:314px;
  height:24px;
}
#u5134 {
  position:absolute;
  left:2px;
  top:4px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:29px;
}
#u5135 {
  position:absolute;
  left:506px;
  top:993px;
  width:304px;
  height:29px;
}
#u5136 {
  position:absolute;
  left:2px;
  top:6px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u5137 {
  position:absolute;
  left:537px;
  top:963px;
  width:113px;
  height:16px;
  color:#169BD5;
}
#u5138 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5139 {
  position:absolute;
  left:386px;
  top:296px;
  width:633px;
  height:378px;
  overflow:hidden;
  visibility:hidden;
}
#u5139_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:378px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5139_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5140 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:378px;
}
#u5141 {
  position:absolute;
  left:2px;
  top:181px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5142 {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:378px;
}
#u5143 {
  position:absolute;
  left:2px;
  top:181px;
  width:630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:24px;
}
#u5144 {
  position:absolute;
  left:42px;
  top:70px;
  width:539px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u5145 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u5146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5146 {
  position:absolute;
  left:238px;
  top:301px;
  width:136px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5147 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u5148 {
  position:absolute;
  left:42px;
  top:154px;
  width:548px;
  height:114px;
}
#u5148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:114px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u5149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5149 {
  position:absolute;
  left:615px;
  top:0px;
  width:14px;
  height:28px;
}
#u5150 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
