body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1313px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:2876px;
}
#u1812 {
  position:absolute;
  left:0px;
  top:43px;
  width:1366px;
  height:2876px;
}
#u1813 {
  position:absolute;
  left:2px;
  top:1430px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814 {
  position:absolute;
  left:291px;
  top:2361px;
  width:263px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1815 {
  position:absolute;
  left:291px;
  top:2541px;
  width:263px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1816 {
  position:absolute;
  left:291px;
  top:2724px;
  width:263px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1817 {
  position:absolute;
  left:291px;
  top:1179px;
  width:263px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1818 {
  position:absolute;
  left:1234px;
  top:1299px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  position:absolute;
  left:1289px;
  top:62px;
  width:71px;
  height:24px;
}
#u1820 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u1821 {
  position:absolute;
  left:504px;
  top:44px;
  width:109px;
  height:59px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823 {
  position:absolute;
  left:505px;
  top:50px;
  width:105px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1824 {
  position:absolute;
  left:503px;
  top:46px;
  width:123px;
  height:55px;
  font-size:18px;
  color:#FFFFFF;
}
#u1825 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u1826 {
  position:absolute;
  left:405px;
  top:53px;
  width:83px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1827 {
  position:absolute;
  left:297px;
  top:53px;
  width:86px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1987px;
  height:94px;
}
#u1829 {
  position:absolute;
  left:-356px;
  top:0px;
  width:1987px;
  height:94px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:39px;
  width:1983px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u1831 {
  position:absolute;
  left:341px;
  top:47px;
  width:37px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u1833 {
  position:absolute;
  left:433px;
  top:47px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u1835 {
  position:absolute;
  left:561px;
  top:47px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1837 {
  position:absolute;
  left:1142px;
  top:34px;
  width:93px;
  height:23px;
  font-size:14px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u1839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1839 {
  position:absolute;
  left:1272px;
  top:47px;
  width:114px;
  height:29px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1841 {
  position:absolute;
  left:1143px;
  top:56px;
  width:114px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1842 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
}
#u1843 {
  position:absolute;
  left:1241px;
  top:12px;
  width:140px;
  height:19px;
  font-size:16px;
  color:#169BD5;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:42px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  position:absolute;
  left:49px;
  top:782px;
  width:558px;
  height:42px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:13px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1847 {
  position:absolute;
  left:96px;
  top:1002px;
  width:851px;
  height:35px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:10px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:15px;
}
#u1850 {
  position:absolute;
  left:106px;
  top:1021px;
  width:213px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u1852 {
  position:absolute;
  left:533px;
  top:1021px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u1854 {
  position:absolute;
  left:666px;
  top:1021px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
}
#u1856 {
  position:absolute;
  left:366px;
  top:1021px;
  width:120px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u1858 {
  position:absolute;
  left:774px;
  top:1021px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
}
#u1860 {
  position:absolute;
  left:946px;
  top:1021px;
  width:70px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  position:absolute;
  left:1369px;
  top:14px;
  width:300px;
  height:170px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  position:absolute;
  left:291px;
  top:1299px;
  width:923px;
  height:35px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:10px;
  width:919px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  position:absolute;
  left:291px;
  top:2837px;
  width:923px;
  height:35px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:10px;
  width:919px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:291px;
  top:2662px;
  width:923px;
  height:35px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:10px;
  width:919px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1870 {
  position:absolute;
  left:291px;
  top:2482px;
  width:923px;
  height:35px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:10px;
  width:919px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1873 {
  position:absolute;
  left:291px;
  top:1288px;
  width:876px;
  height:35px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u1875 {
  position:absolute;
  left:291px;
  top:1300px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u1877 {
  position:absolute;
  left:482px;
  top:1300px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1880 {
  position:absolute;
  left:291px;
  top:2466px;
  width:876px;
  height:35px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u1882 {
  position:absolute;
  left:291px;
  top:2478px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u1884 {
  position:absolute;
  left:482px;
  top:2478px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1887 {
  position:absolute;
  left:291px;
  top:2650px;
  width:876px;
  height:35px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u1889 {
  position:absolute;
  left:291px;
  top:2662px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u1891 {
  position:absolute;
  left:482px;
  top:2662px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:291px;
  top:2824px;
  width:876px;
  height:35px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u1896 {
  position:absolute;
  left:291px;
  top:2836px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u1898 {
  position:absolute;
  left:482px;
  top:2836px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u1900 {
  position:absolute;
  left:331px;
  top:1592px;
  visibility:hidden;
}
#u1900_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1900_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:232px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:136px;
}
#u1903 {
  position:absolute;
  left:197px;
  top:152px;
  width:514px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  word-wrap:break-word;
}
#u1905 {
  position:absolute;
  left:703px;
  top:27px;
  width:52px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1906 {
  position:absolute;
  left:78px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1907 {
  position:absolute;
  left:449px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1908 {
  position:absolute;
  left:89px;
  top:1124px;
  width:1131px;
  height:37px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:10px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:55px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1910 {
  position:absolute;
  left:63px;
  top:1112px;
  width:1262px;
  height:55px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:20px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u1912 {
  position:absolute;
  left:1242px;
  top:2347px;
  width:32px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1913 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u1914 {
  position:absolute;
  left:1242px;
  top:2535px;
  width:32px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1915 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u1916 {
  position:absolute;
  left:1242px;
  top:2709px;
  width:32px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1917 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u1918 {
  position:absolute;
  left:1242px;
  top:1172px;
  width:32px;
  height:30px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1921 {
  position:absolute;
  left:534px;
  top:2997px;
  width:53px;
  height:16px;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:24px;
}
#u1923 {
  position:absolute;
  left:737px;
  top:2993px;
  width:314px;
  height:24px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:4px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:29px;
}
#u1925 {
  position:absolute;
  left:579px;
  top:3027px;
  width:304px;
  height:29px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:6px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u1927 {
  position:absolute;
  left:610px;
  top:2997px;
  width:113px;
  height:16px;
  color:#169BD5;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:678px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:94px;
  width:1366px;
  height:678px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:331px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1931 {
  position:absolute;
  left:1226px;
  top:850px;
  width:48px;
  height:43px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
