.kyl-crc-allBox{
  width: 1662px;
  height: 1000px;
  background: green;
}
.kyl-crc-tableBox{
  background: white;
  width: 100%;
  height: 100%;
}
.kyl-crc-header{
  height: 72px;
  width: 100%;
  border-bottom: 1px solid #d9e5ea;
}
.kyl-crc-dateSel{
  width: 140px;
  height: 34px;
  border: 1px solid #d9e5ea;
  display: inline-block;
  position: relative;
}
.kyl-crc-HContent{
  padding: 20px;
  position: relative;
  margin-left: 15px;
}
.kyl-crc-xkdw{
  margin-left: 32px;
}
.kyl-crc-sj{
  margin-left: 18px;
}
.kyl-crc-shij{
  margin-left: 14px;
}
.kyl-crc-dcbb{
  color: #3498db;
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.kyl-crc-selectSj>div>.ant-calendar-picker-icon:after{
  font-size: 16px;
}
.kyl-crc-body{
  /* margin-top: 22px; */
  padding: 0 1.5%;
  background: white;
}
.kyl-crc-Hpadding{
  padding: 5px 0;
}