body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1275px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:790px;
}
#u1933 {
  position:absolute;
  left:0px;
  top:41px;
  width:1366px;
  height:790px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:387px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935 {
  position:absolute;
  left:220px;
  top:188px;
  visibility:hidden;
}
#u1935_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1935_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:232px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:136px;
}
#u1938 {
  position:absolute;
  left:197px;
  top:152px;
  width:514px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  word-wrap:break-word;
}
#u1940 {
  position:absolute;
  left:703px;
  top:27px;
  width:52px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1941 {
  position:absolute;
  left:78px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1942 {
  position:absolute;
  left:449px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1943 {
  position:absolute;
  left:1255px;
  top:105px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1944 {
  position:absolute;
  left:1289px;
  top:60px;
  width:71px;
  height:24px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u1946 {
  position:absolute;
  left:504px;
  top:42px;
  width:109px;
  height:59px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:22px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948 {
  position:absolute;
  left:508px;
  top:45px;
  width:105px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:55px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1949 {
  position:absolute;
  left:505px;
  top:44px;
  width:123px;
  height:55px;
  font-size:18px;
  color:#FFFFFF;
}
#u1950 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u1951 {
  position:absolute;
  left:405px;
  top:51px;
  width:83px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1952 {
  position:absolute;
  left:297px;
  top:51px;
  width:86px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1987px;
  height:94px;
}
#u1954 {
  position:absolute;
  left:-356px;
  top:0px;
  width:1987px;
  height:94px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:39px;
  width:1983px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u1956 {
  position:absolute;
  left:341px;
  top:47px;
  width:37px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u1958 {
  position:absolute;
  left:433px;
  top:47px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u1960 {
  position:absolute;
  left:561px;
  top:47px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1962 {
  position:absolute;
  left:1142px;
  top:34px;
  width:93px;
  height:23px;
  font-size:14px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1964 {
  position:absolute;
  left:1272px;
  top:47px;
  width:114px;
  height:29px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1966 {
  position:absolute;
  left:1143px;
  top:56px;
  width:114px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1967 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
}
#u1968 {
  position:absolute;
  left:1241px;
  top:12px;
  width:140px;
  height:19px;
  font-size:16px;
  color:#169BD5;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1971 {
  position:absolute;
  left:472px;
  top:1003px;
  width:53px;
  height:16px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:24px;
}
#u1973 {
  position:absolute;
  left:675px;
  top:999px;
  width:314px;
  height:24px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:4px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:29px;
}
#u1975 {
  position:absolute;
  left:517px;
  top:1033px;
  width:304px;
  height:29px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:6px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u1977 {
  position:absolute;
  left:548px;
  top:1003px;
  width:113px;
  height:16px;
  color:#169BD5;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
