.kyl-ear-top{
  width: 96%;
  min-height:110px;
  background: #dfeff0;
  margin: 0 auto;
  position: relative;
}
.kyl-ear-firstTitle{ 
  text-align: center;
  /* margin-top: 24px; */
  font-weight: 900;
  color: #575757;
}
.kyl-ear-secTitle{
  text-align: center;  
  margin-top: -5px;
  font-weight: 900;
  color: #575757;
  
}
.kyl-ear-top p{
  color:#848889;
  text-align: left;
  margin-left: 32px;
  margin-top: 13px;
}
.kyl-ear-dropdown{
  position: absolute;
  top: 24px;
  right: 3%;
  font-size: 20px;
  cursor: pointer;
  /* color: #4d4d4d */
}