/*
 * @Author: 甘维添 
 * @Date: 2018-04-19 10:42:43 
 * @Last Modified by: 甘维添
 * @Last Modified time: 2018-04-19 10:47:43
 * loading 样式
 */


div.gwt-loading-page>div{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

div.gwt-loading-page .ant-spin-dot{
  height: 60px;
  width: 60px;
}

div.gwt-loading-page .ant-spin-dot i{
  width: 25px;
  height: 25px;
}