/*
 * @Author: JudyC 
 * @Date: 2018-01-05 11:07:42 
 * @Last Modified by: JudyC
 * @Last Modified time: 2018-01-15 11:23:25
 */
.cjy-dpe-flex .ant-input{
  width: 480px;
  vertical-align: top;
}

.cjy-dpe-countFont{
  text-align: right;
  height: 30px;
  line-height: 30px;
}

.cjy-dpe-flex{
  display: flex;
  justify-content:space-between;
}

.cjy-dpe-flex .ant-input{
  height: 40px;
}

.cjy-dpe-flex span{
  line-height: 40px;
}

.cjy-dpe-txtBox .ant-input{
  height: 160px;
  resize: none;
}