body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:900px;
}
#u4718 {
  position:absolute;
  left:11px;
  top:19px;
  width:1370px;
  height:900px;
}
#u4719 {
  position:absolute;
  left:2px;
  top:442px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4720 {
  position:absolute;
  left:109px;
  top:161px;
  width:28px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4721 {
  position:absolute;
  left:922px;
  top:157px;
  width:113px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4722 {
  position:absolute;
  left:1045px;
  top:157px;
  width:113px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4723 {
  position:absolute;
  left:278px;
  top:235px;
  width:281px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4724 {
  position:absolute;
  left:306px;
  top:468px;
  width:253px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4725 {
  position:absolute;
  left:306px;
  top:652px;
  width:253px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4726 {
  position:absolute;
  left:304px;
  top:782px;
  width:84px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4727 {
  position:absolute;
  left:304px;
  top:600px;
  width:84px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4728 {
  position:absolute;
  left:513px;
  top:24px;
  width:105px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4729 {
  position:absolute;
  left:594px;
  top:94px;
  width:77px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4730 {
  position:absolute;
  left:722px;
  top:94px;
  width:68px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4731 {
  position:absolute;
  left:847px;
  top:94px;
  width:75px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4732 {
  position:absolute;
  left:475px;
  top:94px;
  width:69px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4733 {
  position:absolute;
  left:1210px;
  top:769px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4734 {
  position:absolute;
  left:1250px;
  top:767px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4735 {
  position:absolute;
  left:1210px;
  top:586px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4736 {
  position:absolute;
  left:1250px;
  top:584px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4737 {
  position:absolute;
  left:626px;
  top:29px;
  width:93px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u4738 {
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  word-wrap:break-word;
}
#u4739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC00;
}
#u4739 {
  position:absolute;
  left:1197px;
  top:165px;
  width:62px;
  height:20px;
  color:#00CC00;
}
#u4740 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u4741 {
  position:absolute;
  left:1173px;
  top:158px;
  width:113px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4742 {
  position:absolute;
  left:716px;
  top:87px;
  width:88px;
  height:35px;
}
#u4743 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4744 {
  position:absolute;
  left:422px;
  top:32px;
  width:70px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4745 {
  position:absolute;
  left:1303px;
  top:24px;
  width:71px;
  height:24px;
}
#u4746 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u4747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4747 {
  position:absolute;
  left:1303px;
  top:52px;
  width:71px;
  height:24px;
}
#u4748 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u4749 {
  position:absolute;
  left:312px;
  top:30px;
  width:70px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4752 {
  position:absolute;
  left:442px;
  top:83px;
  width:515px;
  height:45px;
}
#u4753 {
  position:absolute;
  left:2px;
  top:14px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u4754 {
  position:absolute;
  left:469px;
  top:94px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u4755 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u4756 {
  position:absolute;
  left:593px;
  top:94px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u4757 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:81px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4759 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:81px;
  color:#1E1E1E;
}
#u4760 {
  position:absolute;
  left:2px;
  top:32px;
  width:1376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
}
#u4761 {
  position:absolute;
  left:13px;
  top:15px;
  width:253px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4762 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u4763 {
  position:absolute;
  left:277px;
  top:29px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4764 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:49px;
}
#u4765 {
  position:absolute;
  left:1116px;
  top:3px;
  width:67px;
  height:49px;
}
#u4766 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:24px;
}
#u4767 {
  position:absolute;
  left:1176px;
  top:17px;
  width:113px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4768 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4769 {
  position:absolute;
  left:1175px;
  top:44px;
  width:114px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4770 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u4771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4771 {
  position:absolute;
  left:1037px;
  top:157px;
  width:121px;
  height:37px;
}
#u4772 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4773 {
  position:absolute;
  left:304px;
  top:310px;
  width:981px;
  height:86px;
}
#u4774 {
  position:absolute;
  left:2px;
  top:35px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4775 {
  position:absolute;
  left:304px;
  top:498px;
  width:981px;
  height:86px;
}
#u4776 {
  position:absolute;
  left:2px;
  top:35px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4777 {
  position:absolute;
  left:304px;
  top:674px;
  width:981px;
  height:86px;
}
#u4778 {
  position:absolute;
  left:2px;
  top:35px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4780 {
  position:absolute;
  left:1203px;
  top:376px;
  width:81px;
  height:27px;
}
#u4781 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4782 {
  position:absolute;
  left:1203px;
  top:376px;
  width:81px;
  height:27px;
}
#u4783 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4785 {
  position:absolute;
  left:1202px;
  top:557px;
  width:81px;
  height:27px;
}
#u4786 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4787 {
  position:absolute;
  left:1202px;
  top:557px;
  width:81px;
  height:27px;
}
#u4788 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4789 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:61px;
}
#u4790 {
  position:absolute;
  left:308px;
  top:493px;
  width:961px;
  height:61px;
}
#u4791 {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  word-wrap:break-word;
}
#u4792 {
  position:absolute;
  left:305px;
  top:493px;
  width:979px;
  height:60px;
}
#u4792_input {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4794 {
  position:absolute;
  left:1203px;
  top:745px;
  width:81px;
  height:27px;
}
#u4795 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4796 {
  position:absolute;
  left:1203px;
  top:745px;
  width:81px;
  height:27px;
}
#u4797 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:61px;
}
#u4799 {
  position:absolute;
  left:309px;
  top:681px;
  width:961px;
  height:61px;
}
#u4800 {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  word-wrap:break-word;
}
#u4801 {
  position:absolute;
  left:306px;
  top:681px;
  width:979px;
  height:60px;
}
#u4801_input {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4803 {
  position:absolute;
  left:304px;
  top:406px;
  width:876px;
  height:35px;
}
#u4804 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u4805 {
  position:absolute;
  left:304px;
  top:418px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4806 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u4807 {
  position:absolute;
  left:495px;
  top:418px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4808 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u4810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4810 {
  position:absolute;
  left:304px;
  top:584px;
  width:876px;
  height:35px;
}
#u4811 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u4812 {
  position:absolute;
  left:304px;
  top:596px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4813 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u4814 {
  position:absolute;
  left:495px;
  top:596px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4815 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u4817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4817 {
  position:absolute;
  left:304px;
  top:770px;
  width:876px;
  height:35px;
}
#u4818 {
  position:absolute;
  left:2px;
  top:10px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u4819 {
  position:absolute;
  left:304px;
  top:782px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4820 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u4821 {
  position:absolute;
  left:495px;
  top:782px;
  width:125px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4822 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u4823 {
  position:absolute;
  left:180px;
  top:165px;
  width:1000px;
  height:660px;
  overflow:hidden;
  visibility:hidden;
}
#u4823_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4823_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u4824 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u4825 {
  position:absolute;
  left:2px;
  top:322px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4826 {
  position:absolute;
  left:960px;
  top:12px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4827 {
  position:absolute;
  left:806px;
  top:11px;
  width:100px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4828 {
  position:absolute;
  left:422px;
  top:214px;
  width:96px;
  height:30px;
}
#u4828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u4828_input:disabled {
  color:grayText;
}
#u4829 {
  position:absolute;
  left:422px;
  top:263px;
  width:96px;
  height:30px;
}
#u4829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u4829_input:disabled {
  color:grayText;
}
#u4830 {
  position:absolute;
  left:274px;
  top:184px;
  visibility:hidden;
}
#u4830_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4830_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u4831 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u4832 {
  position:absolute;
  left:2px;
  top:115px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4833 {
  position:absolute;
  left:164px;
  top:167px;
  width:94px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4834 {
  position:absolute;
  left:379px;
  top:14px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4823_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4823_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4835 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  overflow:hidden;
}
#u4835_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4835_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u4836 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u4837 {
  position:absolute;
  left:2px;
  top:322px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4838 {
  position:absolute;
  left:969px;
  top:268px;
  width:21px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4839 {
  position:absolute;
  left:806px;
  top:11px;
  width:100px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4840 {
  position:absolute;
  left:265px;
  top:179px;
  visibility:hidden;
}
#u4840_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4840_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u4841 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u4842 {
  position:absolute;
  left:2px;
  top:115px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4843 {
  position:absolute;
  left:164px;
  top:167px;
  width:94px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4844 {
  position:absolute;
  left:379px;
  top:14px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4845 {
  position:absolute;
  left:960px;
  top:12px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4835_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4835_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u4846 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
}
#u4847 {
  position:absolute;
  left:2px;
  top:322px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4848 {
  position:absolute;
  left:969px;
  top:64px;
  width:21px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4849 {
  position:absolute;
  left:806px;
  top:11px;
  width:100px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4850 {
  position:absolute;
  left:265px;
  top:179px;
  visibility:hidden;
}
#u4850_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4850_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u4851 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:246px;
}
#u4852 {
  position:absolute;
  left:2px;
  top:115px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4853 {
  position:absolute;
  left:164px;
  top:167px;
  width:94px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4854 {
  position:absolute;
  left:379px;
  top:14px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4855 {
  position:absolute;
  left:960px;
  top:12px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4823_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4823_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:364px;
}
#u4856 {
  position:absolute;
  left:182px;
  top:151px;
  width:634px;
  height:364px;
}
#u4857 {
  position:absolute;
  left:2px;
  top:174px;
  width:630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4858 {
  position:absolute;
  left:436px;
  top:409px;
  width:126px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4859 {
  position:absolute;
  left:763px;
  top:173px;
  width:36px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4823_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:660px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4823_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:300px;
}
#u4860 {
  position:absolute;
  left:242px;
  top:175px;
  width:480px;
  height:300px;
}
#u4861 {
  position:absolute;
  left:2px;
  top:142px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4862 {
  position:absolute;
  left:371px;
  top:383px;
  width:102px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4863 {
  position:absolute;
  left:682px;
  top:184px;
  width:32px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4864 {
  position:absolute;
  left:494px;
  top:383px;
  width:102px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4865 {
  position:absolute;
  left:278px;
  top:291px;
  visibility:hidden;
}
#u4865_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4865_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u4867 {
  position:absolute;
  left:2px;
  top:232px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:136px;
}
#u4868 {
  position:absolute;
  left:197px;
  top:152px;
  width:514px;
  height:136px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4869 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  word-wrap:break-word;
}
#u4870 {
  position:absolute;
  left:703px;
  top:27px;
  width:52px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4871 {
  position:absolute;
  left:78px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4872 {
  position:absolute;
  left:449px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4865_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4865_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:232px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:53px;
}
#u4875 {
  position:absolute;
  left:16px;
  top:183px;
  width:737px;
  height:53px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  word-wrap:break-word;
}
#u4877 {
  position:absolute;
  left:703px;
  top:27px;
  width:52px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4878 {
  position:absolute;
  left:78px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4879 {
  position:absolute;
  left:449px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4865_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4865_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u4880 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:480px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:232px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:53px;
}
#u4882 {
  position:absolute;
  left:16px;
  top:183px;
  width:737px;
  height:53px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u4883 {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  word-wrap:break-word;
}
#u4884 {
  position:absolute;
  left:703px;
  top:27px;
  width:52px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4885 {
  position:absolute;
  left:78px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4886 {
  position:absolute;
  left:449px;
  top:367px;
  width:218px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u4887 {
  position:absolute;
  left:1200px;
  top:408px;
  width:41px;
  height:37px;
}
#u4888 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4889 {
  position:absolute;
  left:1203px;
  top:402px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4891 {
  position:absolute;
  left:485px;
  top:933px;
  width:53px;
  height:16px;
}
#u4892 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:24px;
}
#u4893 {
  position:absolute;
  left:688px;
  top:929px;
  width:314px;
  height:24px;
}
#u4894 {
  position:absolute;
  left:2px;
  top:4px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:29px;
}
#u4895 {
  position:absolute;
  left:530px;
  top:963px;
  width:304px;
  height:29px;
}
#u4896 {
  position:absolute;
  left:2px;
  top:6px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u4897 {
  position:absolute;
  left:561px;
  top:933px;
  width:113px;
  height:16px;
  color:#169BD5;
}
#u4898 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4899 {
  position:absolute;
  left:309px;
  top:286px;
  width:253px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4900 {
  position:absolute;
  left:281px;
  top:235px;
  width:281px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4901 {
  position:absolute;
  left:1207px;
  top:400px;
  width:35px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4902 {
  position:absolute;
  left:304px;
  top:308px;
  width:984px;
  height:61px;
}
#u4903 {
  position:absolute;
  left:2px;
  top:22px;
  width:980px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:61px;
}
#u4905 {
  position:absolute;
  left:310px;
  top:308px;
  width:961px;
  height:61px;
}
#u4906 {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  word-wrap:break-word;
}
#u4907 {
  position:absolute;
  left:307px;
  top:308px;
  width:979px;
  height:60px;
}
#u4907_input {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4909 {
  position:absolute;
  left:1204px;
  top:376px;
  width:81px;
  height:27px;
}
#u4910 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4911 {
  position:absolute;
  left:1204px;
  top:376px;
  width:81px;
  height:27px;
}
#u4912 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u4913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:143px;
  background:inherit;
  background-color:rgba(24, 155, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4916 {
  position:absolute;
  left:115px;
  top:287px;
  width:181px;
  height:143px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4917 {
  position:absolute;
  left:2px;
  top:2px;
  width:177px;
  word-wrap:break-word;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
  background:inherit;
  background-color:rgba(17, 108, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4918 {
  position:absolute;
  left:115px;
  top:392px;
  width:181px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u4919 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u4920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4920 {
  position:absolute;
  left:215px;
  top:401px;
  width:72px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4921 {
  position:absolute;
  left:2px;
  top:3px;
  width:68px;
  word-wrap:break-word;
}
#u4922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u4922 {
  position:absolute;
  left:317px;
  top:412px;
  width:94px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4923 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u4924 {
  position:absolute;
  left:487px;
  top:412px;
  width:94px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4925 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u4926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4926 {
  position:absolute;
  left:304px;
  top:406px;
  width:879px;
  height:35px;
}
#u4927 {
  position:absolute;
  left:2px;
  top:10px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u4928 {
  position:absolute;
  left:1245px;
  top:412px;
  width:39px;
  height:30px;
}
#u4929 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u4930 {
  position:absolute;
  left:327px;
  top:422px;
  width:94px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4931 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u4932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
}
#u4932 {
  position:absolute;
  left:497px;
  top:422px;
  width:94px;
  height:15px;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u4933 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
