body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:1478px;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:1478px;
}
#u606 {
  position:absolute;
  left:2px;
  top:731px;
  width:1920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607 {
  position:absolute;
  left:382px;
  top:401px;
  width:259px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u608 {
  position:absolute;
  left:1565px;
  top:32px;
  width:71px;
  height:24px;
}
#u609 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u610 {
  position:absolute;
  left:316px;
  top:111px;
  width:30px;
  height:30px;
}
#u611 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u612 {
  position:absolute;
  left:953px;
  top:21px;
  width:78px;
  height:42px;
}
#u613 {
  position:absolute;
  left:2px;
  top:13px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614 {
  position:absolute;
  left:640px;
  top:26px;
  width:70px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u615 {
  position:absolute;
  left:680px;
  top:401px;
  width:259px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u616 {
  position:absolute;
  left:980px;
  top:401px;
  width:259px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u617 {
  position:absolute;
  left:1280px;
  top:401px;
  width:259px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u618 {
  position:absolute;
  left:380px;
  top:652px;
  width:259px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u619 {
  position:absolute;
  left:679px;
  top:652px;
  width:259px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u620 {
  position:absolute;
  left:982px;
  top:652px;
  width:259px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u621 {
  position:absolute;
  left:373px;
  top:597px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u622 {
  position:absolute;
  left:679px;
  top:597px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u623 {
  position:absolute;
  left:978px;
  top:597px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u624 {
  position:absolute;
  left:1277px;
  top:597px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u625 {
  position:absolute;
  left:376px;
  top:847px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u626 {
  position:absolute;
  left:682px;
  top:847px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u627 {
  position:absolute;
  left:981px;
  top:847px;
  width:66px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u628 {
  position:absolute;
  left:684px;
  top:1016px;
  width:449px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u629 {
  position:absolute;
  left:684px;
  top:1066px;
  width:449px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u630 {
  position:absolute;
  left:684px;
  top:1135px;
  width:449px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u631 {
  position:absolute;
  left:684px;
  top:1184px;
  width:449px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u632 {
  position:absolute;
  left:684px;
  top:1249px;
  width:449px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u633 {
  position:absolute;
  left:684px;
  top:1323px;
  width:449px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u634 {
  position:absolute;
  left:1448px;
  top:27px;
  width:40px;
  height:28px;
}
#u635 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u636 {
  position:absolute;
  left:734px;
  top:26px;
  width:94px;
  height:28px;
  font-size:18px;
}
#u637 {
  position:absolute;
  left:2px;
  top:3px;
  width:90px;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u638 {
  position:absolute;
  left:854px;
  top:26px;
  width:94px;
  height:28px;
  font-size:18px;
}
#u639 {
  position:absolute;
  left:2px;
  top:3px;
  width:90px;
  word-wrap:break-word;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1987px;
  height:94px;
}
#u641 {
  position:absolute;
  left:-64px;
  top:-14px;
  width:1987px;
  height:94px;
}
#u642 {
  position:absolute;
  left:2px;
  top:39px;
  width:1983px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u643 {
  position:absolute;
  left:633px;
  top:33px;
  width:37px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u645 {
  position:absolute;
  left:725px;
  top:33px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u647 {
  position:absolute;
  left:853px;
  top:33px;
  width:73px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u649 {
  position:absolute;
  left:1434px;
  top:20px;
  width:93px;
  height:23px;
  font-size:14px;
}
#u650 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  position:absolute;
  left:1564px;
  top:33px;
  width:114px;
  height:29px;
}
#u652 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u653 {
  position:absolute;
  left:1435px;
  top:42px;
  width:114px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u654 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
}
#u655 {
  position:absolute;
  left:1533px;
  top:-2px;
  width:140px;
  height:19px;
  font-size:16px;
  color:#169BD5;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1444px;
  height:129px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  position:absolute;
  left:256px;
  top:151px;
  width:1444px;
  height:129px;
}
#u658 {
  position:absolute;
  left:2px;
  top:56px;
  width:1440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u659 {
  position:absolute;
  left:525px;
  top:168px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u660 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u661 {
  position:absolute;
  left:643px;
  top:168px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u662 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3EC280;
}
#u663 {
  position:absolute;
  left:755px;
  top:168px;
  width:88px;
  height:40px;
  color:#3EC280;
}
#u664 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u665 {
  position:absolute;
  left:525px;
  top:221px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u666 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u667 {
  position:absolute;
  left:643px;
  top:221px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u668 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3EC280;
}
#u669 {
  position:absolute;
  left:986px;
  top:221px;
  width:88px;
  height:40px;
  color:#3EC280;
}
#u670 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u671 {
  position:absolute;
  left:755px;
  top:221px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u672 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u673 {
  position:absolute;
  left:870px;
  top:221px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u674 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u675 {
  position:absolute;
  left:1104px;
  top:221px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u676 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u677 {
  position:absolute;
  left:1219px;
  top:221px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u678 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u679 {
  position:absolute;
  left:338px;
  top:176px;
  width:68px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u680 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u681 {
  position:absolute;
  left:338px;
  top:229px;
  width:68px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u682 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u683 {
  position:absolute;
  left:406px;
  top:168px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u684 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(62, 194, 128, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u685 {
  position:absolute;
  left:406px;
  top:221px;
  width:88px;
  height:40px;
  color:#FFFFFF;
}
#u686 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:562px;
  top:600px;
  width:67px;
  height:18px;
}
#u688 {
  position:absolute;
  left:2px;
  top:1px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:872px;
  top:598px;
  width:67px;
  height:18px;
}
#u690 {
  position:absolute;
  left:2px;
  top:1px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u691 {
  position:absolute;
  left:1172px;
  top:600px;
  width:67px;
  height:18px;
}
#u692 {
  position:absolute;
  left:2px;
  top:1px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693 {
  position:absolute;
  left:1472px;
  top:599px;
  width:67px;
  height:18px;
}
#u694 {
  position:absolute;
  left:2px;
  top:1px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u695 {
  position:absolute;
  left:572px;
  top:854px;
  width:67px;
  height:18px;
}
#u696 {
  position:absolute;
  left:2px;
  top:1px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  position:absolute;
  left:877px;
  top:855px;
  width:67px;
  height:18px;
}
#u698 {
  position:absolute;
  left:2px;
  top:1px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  position:absolute;
  left:1172px;
  top:854px;
  width:67px;
  height:18px;
}
#u700 {
  position:absolute;
  left:2px;
  top:1px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:726px;
  top:1482px;
  width:53px;
  height:16px;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:24px;
}
#u704 {
  position:absolute;
  left:929px;
  top:1478px;
  width:314px;
  height:24px;
}
#u705 {
  position:absolute;
  left:2px;
  top:4px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:29px;
}
#u706 {
  position:absolute;
  left:771px;
  top:1512px;
  width:304px;
  height:29px;
}
#u707 {
  position:absolute;
  left:2px;
  top:6px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u708 {
  position:absolute;
  left:802px;
  top:1482px;
  width:113px;
  height:16px;
  color:#169BD5;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
